.win {
	color: #1a9641;
}

.lost {
	color: #d7191c;
}

.gray {
	color: #878787;
}

.details {
	font-style: italic;
	visibility: hidden;
}

.ttip {
	width: auto;
	height: auto;
	z-index: 10;
	position:absolute;
	border:1px solid #333;
	background-color: white;
	border-radius:5px;
	padding:5px;
}

.grafika li {
	font-size: 14px !important;
	list-style: none !important;
	background-image: none !important;
}

.score {
	font-size: 14px;
}